body{ 
    font-family: 'Roboto', sans-serif;
    display: flex; 
    flex-direction: column;  
    justify-content: space-between; 
    align-items: center;
} 

.container{
    background-color: darkblue;
    color: white; 
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    padding-bottom: 75px;
    gap: 75px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{ 
    display: flex; 
    gap: 50px;
}

.intro{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
}

button{
    width: 100px;
}

.quote{
    background-color: lightgray;
}

.footnote{ 
    background-color: darkblue;
}

.join{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none; 
    display: flex;
    gap: 20px;
}
