body{ 
    font-family: 'Roboto', sans-serif;
    display: flex; 
    flex-direction: column; 
    flex: 1;
} 

.container{ 
    background-color: rgba(0, 0, 255, 0.439); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    padding-left: 150px; 
    padding-right: 150px; 
    padding-bottom: 100px;
}

.quote{ 
    background-color: rgba(128, 128, 128, 0.491);
    font-size: 30px;
    text-align: center;
}


.general{ 
    display: flex;
    background-color: rgba(0, 0, 255, 0.253);
} 

ul{ 
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
    font-size: 12px; 
    text-align: center; 
    gap: 10px;
}  

h1{ 
    font-weight: 900;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.header{ 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 0px;
} 

.info{ 
    display: flex;
    justify-content: space-between;
}

.intro{ 
    display: flex; 
    flex-direction: column;
    width: 600px;
}
 
button{ 
    width: 100px;
}
